<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.ddeonabom.admin.model.mapper.AdminMapper">

    <select id="selectMemberCount" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE STATUS = 'Y'
    </select>

    <select id="selectTravelCount" resultType="int">
        SELECT COUNT(*)
        FROM TRAVEL_LIST
        WHERE STATUS = 'Y'
    </select>

    <select id="selectScheduleCount" resultType="int">
        SELECT COUNT(*)
        FROM SCHEDULE_MAIN
        WHERE SCHEDULE_STATUS = 'Y'
    </select>

    <select id="selectQlistCount" resultType="int">
        SELECT COUNT(*)
        FROM QLIST
        WHERE STATUS = 'Y'
    </select>
    
     <select id="selectMemberCountList" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
    </select>
    
     <select id="selectTravelCountList" resultType="int">
        SELECT COUNT(*)
        FROM TRAVEL_LIST
        WHERE VISIBILITY = 'PUBLIC'
    </select>

    <select id="selectScheduleCountList" resultType="int">
        SELECT COUNT(*)
        FROM SCHEDULE_MAIN
        WHERE SCHEDULE_VISIBILITY = 'Y' and SCHEDULE_VISIBILITY = 'M'
    </select>

    <select id="selectQlistCountList" resultType="int">
        SELECT COUNT(*)
        FROM QLIST
    </select>
    

    <select id="selectReplyCount" resultType="int">
        SELECT COUNT(*)
        FROM REPLY
        WHERE STATUS = 'Y'
    </select>

    <select id="selectReportCount" resultType="int">
        SELECT COUNT(*)
        FROM REPORT
        WHERE REPORT_STATUS = 'N'
    </select>
    
   <select id="selectMembers" resultType="Member">
    SELECT
        ID,
        NICKNAME,
        EMAIL,
        PHONE,
        ENROLL_DATE,
        STATUS
    FROM MEMBER
    WHERE ID != #{id}
    OFFSET #{startRow} ROWS
    FETCH NEXT #{listLimit} ROWS ONLY
</select>
	
	<update id="updateMemberStatus" parameterType="hashmap">
	   update member set ${col} = #{val} where id = #{id}
	</update>
	
<!-- 	<select id="selectNoticeList" resultType="kh.ddeonabom.admin.model.vo.AdminNotice"> -->
<!-- 	    SELECT -->
<!-- 	        N.NOTICE_NO, -->
<!-- 	        N.TITLE, -->
<!-- 	        M.ID AS MEMBER_NAME, -->
<!-- 	        N.CREATE_DATE, -->
<!-- 	        N.MODIFY_DATE -->
<!-- 	    FROM NOTICE N -->
<!-- 	    JOIN MEMBER M -->
<!-- 	        ON N.MEMBER_NO = M.MEMBER_NO -->
<!-- 	    ORDER BY N.NOTICE_NO DESC -->
<!-- 	</select> -->
	
	<select id="selectSchedulePosts" parameterType="hashmap" resultType="kh.ddeonabom.admin.model.vo.AdminPost">
	    SELECT
	        S.SCHEDULE_NO AS postNo,
	        '공유' AS boardType,
	        S.SCHEDULE_TITLE AS title,
	        M.NICKNAME AS nickname,
	        S.CREATE_DATE AS createDate,
	        S.SCHEDULE_STATUS AS status
	    FROM SCHEDULE_MAIN S
	    JOIN MEMBER M
	        ON S.MEMBER_NO = M.MEMBER_NO
	    WHERE S.SCHEDULE_VISIBILITY IN ('Y', 'M')
	    ORDER BY S.CREATE_DATE DESC
	    OFFSET #{startRow} ROWS
	    FETCH NEXT #{listLimit} ROWS ONLY
	</select>
	
	<select id="selectReviewPosts" parameterType="hashmap" resultType="kh.ddeonabom.admin.model.vo.AdminPost">
	    SELECT
	        T.TRAVEL_NO AS postNo,
	        '후기' AS boardType,
	        T.TRAVEL_TITLE AS title,
	        M.NICKNAME AS nickname,
	        T.CREATE_DATE AS createDate,
	        T.STATUS AS status,
	        S.TRAVEL_SUB_CONTENT AS content
	    FROM TRAVEL_LIST T
	    JOIN MEMBER M
	        ON T.MEMBER_NO = M.MEMBER_NO
	    LEFT JOIN TRAVEL_LIST_SUB S
	        ON T.TRAVEL_NO = S.TRAVEL_NO
	    ORDER BY T.CREATE_DATE DESC
	    OFFSET #{startRow} ROWS
	    FETCH NEXT #{listLimit} ROWS ONLY
	</select>
	
	<select id="selectQuestionPosts" parameterType="hashmap" resultType="kh.ddeonabom.admin.model.vo.AdminPost">
	    SELECT
	        Q.Q_NO AS postNo,
	        '질문' AS boardType,
	        Q.TITLE AS title,
	        Q.CONTENT AS CONTENT,
	        M.NICKNAME AS nickname,
	        Q.CREATE_DATE AS createDate,
	        Q.STATUS AS status
	    FROM QLIST Q
	    JOIN MEMBER M
	        ON Q.MEMBER_NO = M.MEMBER_NO
	    ORDER BY Q.CREATE_DATE DESC
	    OFFSET #{startRow} ROWS
	    FETCH NEXT #{listLimit} ROWS ONLY
	</select>
	
	<update id="updateScheduleStatus">
	    UPDATE SCHEDULE_MAIN
	    SET SCHEDULE_STATUS = #{status}
	    WHERE SCHEDULE_NO = #{postNo}
	</update>

	<update id="updateReviewStatus">
	    UPDATE TRAVEL_LIST
	    SET STATUS = #{status}
	    WHERE TRAVEL_NO = #{postNo}
	</update>

	<update id="updateQuestionStatus">
	    UPDATE QLIST
	    SET STATUS = #{status}
	    WHERE Q_NO = #{postNo}
	</update>
	
	<select id="getNoticeCount" resultType="_int">
	    SELECT COUNT(*)
	    FROM notice
	</select>
	
	<select id="selectNoticeList" parameterType="hashmap" resultType="kh.ddeonabom.admin.model.vo.AdminNotice">
	    SELECT
	        N.NOTICE_NO AS noticeNo,
	        N.TITLE AS title,
	        M.NICKNAME AS memberName,
	        N.CREATE_DATE AS createDate,
	        N.MODIFY_DATE AS modifyDate,
	        N.STATUS AS status
	    FROM NOTICE N
	    JOIN MEMBER M
	        ON N.MEMBER_NO = M.MEMBER_NO
	    ORDER BY N.CREATE_DATE DESC
	    OFFSET #{startRow} ROWS
	    FETCH NEXT #{listLimit} ROWS ONLY
	</select>
	
	<update id="updateNoticeStatus" parameterType="kh.ddeonabom.admin.model.vo.AdminNotice">
	    UPDATE NOTICE
	    SET STATUS = #{status}
	    WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<insert id="insertNotice" parameterType="kh.ddeonabom.admin.model.vo.AdminNotice">
	    INSERT INTO NOTICE (NOTICE_NO, TITLE, CONTENT, MEMBER_NO, CREATE_DATE, STATUS)
	    VALUES (SEQ_NOTICE.NEXTVAL, #{title}, #{content}, #{memberNo}, SYSDATE, 'Y')
	</insert>
	

</mapper>