<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.ddeonabom.landmark.model.mapper.LandmarkMapper">
	<select id="searchLandmarks" resultType="Landmark">
	    SELECT * FROM LANDMARK
	    WHERE TITLE LIKE '%' || #{q} || '%'
	    AND (#{region} = '' OR ADDR1 LIKE '%' || #{region} || '%') and content_type_id not in ('15','25','28')
	    ORDER BY CONTENT_ID
	    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="countLandmarks" resultType="int">
	SELECT COUNT(*) FROM LANDMARK
    WHERE TITLE LIKE '%' || #{q} || '%'
    AND (#{region} = '' OR ADDR1 LIKE '%' || #{region} || '%') and content_type_id not in ('15','25','28')
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from landmark
	</select>
	
	<select id="selectLandmarkList">
		select *
		from landmark
	</select>
	
	<select id="landmarkDetail">
		select *
		from landmark
		where content_id = #{contentId}
	</select>
	
	<select id="landmarkNice">
		select count(*)
		from nice
		where member_no = #{memberNo} and post_no = #{lNumber} and post_board_fx = 'LJ'
	</select>
	
	<delete id="deleteNice">
		delete from nice
		where member_no = #{memberNo} and post_no = #{lNumber} and post_board_fx = 'LJ'
	</delete>
	
	<insert id="insertNice">
		insert into nice
		values(seq_nice_no.nextval, 'LJ', #{lNumber}, #{memberNo})
	</insert>
	
	<select id="niceList">
		select post_no
		from nice
		where member_no = #{memberNo}
	</select>
	
	<select id="getWishListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM NICE
		WHERE MEMBER_NO = #{memberNo}
		  AND POST_BOARD_FX = 'LJ' </select>

	<select id="selectMyWishList" parameterType="hashmap" resultType="kh.ddeonabom.landmark.model.vo.Landmark">
		SELECT *
		FROM (
			SELECT l.*, ROW_NUMBER() OVER (ORDER BY n.NICE_NO DESC) AS rnum
			FROM landmark l
			JOIN NICE n ON (l.content_id = n.POST_NO)
			WHERE n.MEMBER_NO = #{memberNo}
			  AND n.POST_BOARD_FX = 'LJ' )
		WHERE rnum BETWEEN #{startRow} + 1 AND #{startRow} + #{listLimit}
	</select>
</mapper>