<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.ddeonabom.qList.model.mapper.QListMapper">
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from qlist
		where status = 'Y'
	</select>
	
	<select id="selectQList" resultType="QList">
	    SELECT q.*, m.nickname AS writer
	    FROM qlist q
	    JOIN member m ON q.member_no = m.member_no
	    WHERE q.status = 'Y'
	    ORDER BY q.create_date DESC
	</select>
	
	<select id="detailQList" parameterType="_int" resultType="QList">
	    SELECT q.*, m.nickname AS writer
	    FROM qlist q
	    JOIN member m ON q.member_no = m.member_no
	    WHERE q.q_no = #{qNo}
	    AND q.status = 'Y'
	</select>
	
	
	<insert id="">
		
	</insert>

</mapper>