<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <head th:fragment="head">
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'> <!-- ◀ 추가: 반응형 배율 기준선 -->
    
    <title>떠나봄</title>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc2203afc9aba0a5253c96f937497e0d&autoload=false"></script>
	
    <link rel="stylesheet" th:href="@{/css/common.css}" />
	
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/css/tw.js}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	
    <meta sec:authorize="isAuthenticated()" th:data-user="authenticated" style="display:none;"/>
</head>
<body>
</body>
</html>